@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.themeScroll {
    overflow-y: auto;
}

.themeScroll::-webkit-scrollbar {
    width: 10px;
}

.themeScroll::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}

.themeScroll::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #C1C1C1;
}