@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.themeScroll {
    overflow-y: auto;
}

.themeScroll::-webkit-scrollbar {
    width: 10px;
}

.themeScroll::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}

.themeScroll::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #C1C1C1;
}

.ankit::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
    padding: 0;
    height: 0;
}

.container-with-dots {
    width: 80%;
    margin: auto;
}

.react-multiple-carousel__arrow--right {
    right: 0 !important;
}

.react-multiple-carousel__arrow--left {
    left: 0 !important;
}
.react-multiple-carousel__arrow {
    min-width: 36px !important;
    min-height: 36px !important;
}


.nav-item::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjust to control the distance from the text */
    left: 0;
    width: 0;
    height: 2px; /* Thickness of the line */
    background-color: black; /* Line color */
    transition: width 0.3s ease-in-out; /* Animation effect */
    z-index: 0;
}

.nav-item:hover::after {
    width: 100%; /* Line grows to full width on hover */
}